.main1 {
  text-align: center;
}

.main-box {
  padding-left: 40px;

  width: 60%;
}

.l-box {
  border: 1px solid black;
  height: 20px;
}

.s-box {
  border: 1px solid black;
  height: 20px;
  ;
}

.menu {
  border: 1px solid black;
  /* flex: left; */
  width: 100px;
  text-align: center;
  border-radius: 10px;
  padding-left: 40px;
}

.menu-s {

  border-bottom: 1px solid black;
  flex: 4;
}